:root {
      --color0: rgb(35, 42, 42);
      --color1: rgb(105, 42, 42);
      --color2: rgb(150, 42, 42);
      --color3: rgb(190, 43, 43);
      --color4: rgb(230, 42, 42);
      --color5: rgb(255, 42, 53);
      --solid-border: 2px pink;
      --dashed-border: 2px red;
    }

    .available-0 {
      background-color: var(--color0);
    }

    .available-1 {
      background-color: var(--color1);
    }

    .available-2 {
      background-color: var(--color2);
    }

    .available-3 {
      background-color: var(--color3);
    }

    .available-4 {
      background-color: var(--color4);
    }

    .available-5 {
      background-color: var(--color5);
    }

    .sharp td {
      border-bottom: var(--solid-border);
    }

    .half td {
      border-bottom: var(--dashed-border);
    }

    #legend {
      text-align: center;
      margin-top: 20px;
    }

    #legend-gradient {
      width: 100px;
      height: 20px;
      background-image: linear-gradient(to right, var(--color0) 0%, var(--color0) 17%,
       var(--color1) 17%, var(--color1) 33%, 
       var(--color2) 33%, var(--color2) 50%, 
       var(--color3) 50%, var(--color3) 67%, 
       var(--color4) 67%, var(--color4) 83%, 
       var(--color5) 83%, var(--color5) 100%);
      margin: auto;
    }